<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>search</h1>
      <%= text_field_tag :search_text_value, @search_input %>
      <label>full_search</label>
      <%= check_box_tag :full_search%>
      <div class="search_crafter">
        <%= render 'crafters/search_crafter' %>
      </div>
    </div>
  </div>
</div>