javascript:
  document.getElementById('button_edit_crafter').disabled = true;
  $("#SuccessMessage").modal("show");

  function hideMessage (){$("#SuccessMessage").modal("hide");}
  setTimeout(hideMessage, 3000);