<h1>page for edit <%= @crafter.email %> crafter </h1>
<%if @subcategory.nil?%>
    <h3>subcategory nil</h3>
    <h3>category nil</h3>
<%else%>
    <%= @category %>
    <%= @subcategory %>
<%end%>
<%= select_tag "category", options_from_collection_for_select(Category.all, "id", "name")%>