| $('.your_albums_line').html("
= escape_javascript (render partial: 'crafters/partials/albums/crafter_albums')
| ");

/| $('#newAlbum').modal('hide');
/| $('.modal-backdrop').hide();

/| $('#newAlbum').replaceWith("
/= escape_javascript(render partial: 'crafters/partials/albums/new_album')
/| ");

