| $('.info').html("
= escape_javascript (render partial: 'crafters/registrations/partials/info')
| ");
| $('.info_crafter').html("
= escape_javascript (render partial: 'crafters/registrations/partials/info_crafter')
| ");
