| $('#crafter_avatar_img').html("
= escape_javascript (render partial: 'crafters/partials/img')
| "); 
| $('.menu_right').html("
= escape_javascript (render partial: 'layouts/crafters_registered')
| ");
