.info_reg
  dl
    = form_for current_user do |f|
      dt
        = f.label :Имя, class: 'label_login'
      dd
        = f.text_field :name, class: 'form-control'
      dt
        = f.label :Город, class: 'label_login'
      dd
        = f.text_field :name, class: 'form-control'
      dt
        = f.label :Род_занятий, class: 'label_login'
      dd
        = f.text_field :name, class: 'form-control'
      dt
        = f.label :Skype, class: 'label_login'
      dd
        = f.text_field :name, class: 'form-control'
      dt
        = f.label :Сайт, class: 'label_login'
      dd
        = f.text_field :name, class: 'form-control'
      dt
        = f.label :Блог, class: 'label_login'
      dd
        = f.text_field :name, class: 'form-control'
      dd
        button.btn.btn-success.register-btn[type="submit"]
          | Сохранить изменения



          /Город:
          /  Род занятий:
          /  Интересы:
          /  День рождения:
          /  Jabber:
          /  ICQ:
          /  Skype:
          /  AIM:
          /  Сайт:
          /  Блог:
          /  Моя техника:
          /  Подпись:

