.center{
    width: 920px;
    margin: 0 auto;
}

#top{
    float: left;
    height: 105px;
    width: 100%;
    padding: 0;
    color: #ffffff !important;
    margin-top: -10px;
}

.logo{
    float: left;
    font-family: Arial;
    color: #ffffff !important;
    text-decoration: none !important;
    font-size: 35px;
    margin-top: -15px;
}

.menu_left{
    float: left;
    padding-left: 15px;
}

.menu_left a{
    font-size: 16px;
    padding-left: 15px;
    color: #ffffff;
    text-decoration: none;
}

.menu_right{
    float: right;
    padding-left: 15px;
}

.menu_right a:hover{
    text-decoration: underline;
}

.menu_right .my_cart{
    float: right;
    padding-left: 15px;
}

.menu_right a{
    font-size: 14px;
    /*padding-right: 15px;*/
    color: #ffffff;
    text-decoration: none;
}

.button-no-border{
    border-radius: 0;
    margin-top: 10px;
}

.subcategory{
    margin-left: 240px !important;
    top: 0;
    min-height: 506px;
}

.dropdown-submenu{/*position:relative;*/}
.dropdown-menu{width: auto; border-radius: 0; margin-top: -1px;}
.dropdown-submenu>.dropdown-menu{/*top: 0; left: 12%; */ margin-top: -1px; margin-left: 0;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;}


#imaginary_container{
    width: 410px;
    margin-top: -12px;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}