-if !@album.nil?
  - @album.album_images.each do |image|
    a.fancybox-thumb rel='fancybox-thumb' href="#{image.image.url}" title="#{image.name+': '+image.description}"
      = image_tag image.image.url