<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Каталог Крафтеров</h4>
        <div class="footer_catalog column">
          <% @categories.each do |category| %>
              <a href="#<%= category.name %>"><%= category.name %></a><br/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>