#top.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .row
      .col-xs-12.col-sm-3.col-md-3.col-lg-3.logo
        a href="/"
         h1
          | CraftsMan
      .col-xs-12.col-sm-6.col-md-6.col-lg-6.menu_left
        #imaginary_container
          .input-group.stylish-input-group
            = form_tag('/search', :method => :get, :class => 'search') do
              = text_field_tag 'search', nil, :placeholder => 'Поиск в каталоге. Например, "ИП Анатолий"', :autocomplete => 'off', :class => 'search_input'
              = submit_tag 'OK', :class => 'search_button'
        #search_result[style="display: none"]
          .search_result
            span
              | X
            ul#result_search_ul
              = render 'layouts/search'
      .col-xs-12.col-sm-3.col-md-3.col-lg-3.menu_right
        - if crafter_signed_in?
          = render 'layouts/crafters_registered'
        - elsif user_signed_in?
          = render 'layouts/users_registered'
        - else
          = render 'layouts/unregistered'
    .navigation
      /- cache @categories do
      /  = render 'layouts/caregories', categories: @categories
      - cache @menu_hash do
        = render 'layouts/caregories', menu: @menu_hash
