<li><%= link_to 'Sign in user', new_user_session_path %></li>
<li><%= link_to 'Sign up user', new_user_registration_path %></li>
<li><%= link_to 'Sign in crafter', new_crafter_session_path %></li>
<li><%= link_to 'Sign up crafter', new_crafter_registration_path %></li>