= link_to 'In User', new_user_session_path
|  / 
= link_to 'Up User', new_user_registration_path
br
= link_to 'In Crafter', new_crafter_session_path
|  / 
= link_to 'Up Crafter', new_crafter_registration_path
br
= link_to 'Facebook', user_omniauth_authorize_path(:facebook)
|  /
= link_to 'VK', user_omniauth_authorize_path(:vkontakte)